*{
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box; /* Firexfox */
    -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
    box-sizing: border-box; /* IE */
}
body{
    font-family: bloom-reg,'Open Sans',sans-serif,Arial,Nunito !important;
    font-weight: 900!important;
    width: 100%;
    height: 100%;
}
/* --------------------------------------------  Big Text  ---------------------------------------------------------- */
.big-text {
    margin: 5rem .7rem 2rem .7rem;
    padding: 0 .3rem 0 .3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    font-weight: 700!important;
    line-height: 1.5;
}
.sub-text{
    font-size: 1.5rem;
    font-weight: 600!important;
}
.rules{
    font-size: 1.2rem;
    font-weight: 600!important;
}
.shadow-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 50vh;
    width: 90vw;
    border-radius: 30px;
    margin: auto;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
    transition: 0.5s ease;
    background-color: rgb(106, 90, 205);
    overflow-y: auto;
    position: relative;
}
.increase-box{
    min-height: 95vh;
}
.dis-btn{
    background-color: rgb(249,200,81);
    color: #323a46;
    border-radius: 2rem;
    padding: 10px 15px;
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: 900 !important;
    line-height: 1.5;
    transition: all 0.5s ease;
}
.dis-btn:hover{
    color: #fff;
    background-color: #000;
    transition: all 0.5s ease;
}
.disappear-box{
    transition: opacity 2s;
}
.disappear-text{
    font-size: 2rem;
    font-weight: 900;
}
.poof{
    display: none !important;
} 
@media (max-width: 450px) {
    .big-text{
        font-size: 1.4rem;
    }
    .sub-text{
        font-size: 0.8rem;
    }
    .rules{
        font-size: 0.5rem;
    }
    .disappear-text{
        font-size: 1rem;
    }
    .dis-btn{
        font-size: 0.5rem;
        padding: 5px 10px;
    }
}
/* --------------------------------------------- Timer ------------------------------------------------------------------*/
#time{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 5vh;
    color: #000;
    font-size: 1.5rem;
    background-color: rgb(249,200,81);
    border-radius: 30px 30px 0 0;
    transition: all 0.5s ease;
}
/*-------------------------------------------- Quiz Section -------------------------------------------------------------*/
.quiz-box{
    min-width: 30vw;
    height: auto;
    border-radius: 2rem;
    background-color: #fff;
    margin: 10px;
    display: none;
}
.quiz-box.appear{
    display: block;
}
.quiz-box .quiz-header{
    height: 5rem;
    padding: 0 2.5rem;
    background-color: #fff;
    border-radius: 2rem 2rem 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.2);
}
.quiz-header .header_text{
    font-size: 20px;
    font-weight: 600;
}
.quiz-header .timer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 10rem;
    height: 3.1rem;
    border-radius: 5px;
    padding: 0 5px;
}
.quiz-header .timer .time_text{
    font-size: 1rem;
    user-select: none;
}
.quiz-header .timer .time_sec{
    font-size: 18px;
    background: linear-gradient(150deg, #eaedfd 0%, #eaedfd 100%);
    height: 2rem;
    width: 3rem;
    color: #000;
    text-align: center;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
    border-radius: 5px;
}
.quiz-box .quiz-part{
    padding: 25px 30px 20px 30px;
}
.quiz-box .quiz-part .quiz-question{
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: bolder;
}
.quiz-box .quiz-part .options-list{
    padding: 20px 10px;
    display: block;
}
.quiz-part .options-list .option{
    border: 1px solid #84c5fe;
    border-radius: 5px;
    padding: 0.2rem 1rem;
    font-size: 1.1rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: all 0.3s ease;
} 
.quiz-part .options-list .option:hover{
    background: #536de6;
}
.quiz-part .options-list .option:last-child{
    margin-bottom: 0px;
}
.options-list .option .icon{
    height: 26px;
    width: 26px;
    border: 2px solid transparent;
    border-radius: 50%;
    text-align: center;
    font-size: 13px;
    line-height: 24px;
    position: relative;
}
.options-list .option .icon.tick{
    color: #23903c;
    border-color: #23903c;
    background: #d4edda;
}
.options-list .option .icon.cross{
    color: #a4283a;
    background: #f8d7da;
    border-color: #a4283a;
}
.options-list .option.correct{
    border-color: #23903c;
    background: #23903c;
}
.options-list .option.incorrect{
    border-color: #a4283a;
    background: #a4283a;
}
.options-list .option.disabled{
    pointer-events: none;
}
#quiz footer{
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 30px 0px 30px;
}
#quiz footer .total_que span{
    display: flex;
    padding-top: 15px;
    margin-right: 1rem;
    user-select: none;
}
#quiz footer .total_que span p{
    font-weight: 900;
    padding: 0 5px;
}
#quiz footer .total_que span p:first-child{
    padding-left: 0px;
}
#quiz footer .next_btn{
    display: none;
    height: auto;
    padding: 10px;
    font-size: 15px;
    font-weight: 400;
    border: none;
    outline: none;
    color: #fff;
    background:#536de6;
    border-radius: 5px;
    cursor: pointer;
}
#quiz footer .next_btn:hover{
    background: #000;
}
.result_box{
    display: none;
    background: #fff;
    min-width: 50vw;
    height: auto;
    margin: 3rem;
    padding: 25px 30px;
    border-radius: 5px;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 4px 8px 0 rgba(0,0,0, 0.2),
    0px 6px 20px 0 rgba(0,0,0, 0.19)
}
.result_box .icon{
    font-size: 100px;
    color: #536de6;
    margin-bottom: 10px;
}
.result_box .complete_text{
    font-size: 2rem;
}
.result_box .score_text{
    margin-bottom: 1rem;
}
.result_box .score_text p{
    margin-bottom: 0;
    font-size: 1.5rem;
}
.score-display{
    font-size: 1.5rem;
}
.fa-icon{
    color: gold;
}
.score_text span p{
    font-weight: 600;
    margin-bottom: 0;
    padding: 0 4px;
}
.score_text .congrats{
    font-size: 1.5rem;
    font-weight: 900;
}
.result_box .buttons button{
    margin: 0 10px;
    height: 40px;
    padding: 5px 20px;
    font-size: 1rem;
    font-weight: 900;
    border: 1px solid #343a40;
    border-radius: 2rem;
    cursor: pointer;
    transition: all 0.3s ease;
}
.result_box .buttons .restart{
    background: linear-gradient(150deg, #eaedfd 0%, #eaedfd 100%);
}
.result_box .buttons .download_btn{
    background-color: rgb(106, 90, 205);
    color: rgb(249,200,81);
}
@media (max-width: 650px){
    .quiz-box{
        min-width: 15vw;
    }
    .shadow-box{
        min-width: 100%;
        border-radius: 0;
    }
    #time{
        border-radius: 0;
    }
}
@media (max-width: 450px){
    .quiz-box .quiz-part .quiz-question{
        font-size: 1.2rem;
    }
    .quiz-box{
        min-width: 10vw;
    }
    .score_text .congrats{
        font-size: 1.1rem;
    }
    .result_box .buttons button {
        font-size: 8px;
        height: 30px;
        padding: 5px 10px;
        margin-bottom: 5px;
    }
    .result_box .complete_text{
        font-size: 1.5rem;
    }
    .result_box .score_text span {
        font-size: 0.7rem;
    }
}
@media (max-width: 380px){
    .quiz-box{
        min-width: 5vw;
    }
    .quiz-box,.quiz-header{
        border-radius: 0;
    }
    .quiz-box .quiz-part{
        padding: 15px 10px 20px 10px;
    }
    .quiz-header .header_text{
        font-size: 0.9rem;
    }
    .quiz-header .timer{
        width: 6rem;
        padding: 0;
    }
    .quiz-header .timer .time_text {
        font-size: 0.7rem;
    }
    .quiz-header .timer .time_sec {
        font-size: 0.6rem;
        height: 1.5rem;
        width: 2rem;
    }
    #quiz footer .total_que span{
        font-size: 0.7rem;
    }
    #quiz footer .next_btn{
        font-size: 10px;
        padding: 5px;
    }
    .score_text .congrats, .result_box .complete_text{
        font-size: 1.1rem;
    }
    .result_box .buttons button {
        font-size: 8px;
        height: 30px;
        padding: 5px 10px;
        margin-bottom: 5px;
    }
    .result_box .score_text span {
        font-size: 0.7rem;
    }
}